
      body {
        text-align: center;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    
      }
      #heading {
        margin: 50px 0 0 0;
      }
      #todo {
        margin: 120px 0 30px 0;
        width: 100%;
      
        
      }
      #task {
        width: 33%;
        border: 1px solid black;
        border-radius: 8px;
        padding: 6px;
        color: black;
        font-weight: 700;
      }
      #btn {
        width: 7%;
        border: none;
        padding: 3px;
        border-radius: 6px;
        /* font-weight: bold; */
        background-color: black;
        color: white;
        margin-left: 0.5%;
      }

      #btn:hover {

        cursor: pointer;
      }
      /* ye saare dynamically eleemtn ki css hai */
      h4 {
        width: 41%;
        margin: auto;
        padding: 6px;
        margin-top: 15px;
        background-color: rgb(114, 86, 154);
        text-align: left;
        font-size: 13px;
        border-radius: 7px;
        color: white;
        position: relative;
      
      }
      #warningmsg {
        text-align: left;
        margin-left: 29.5%;
        width: 40%;
        font-size: 13px;
        margin-top: 10px;
        font-style: italic;
      }
      .Edit,
      .Delete {
        border-radius:  3px;
         border: none;
        width: 8%;
      }
      .Edit {
        position: absolute;
        right: 10%;
        top: 22%;
        
        
        background-color: green;
        color: white;
        padding: 1px;
        font-size: 0.8em;
      }
      .Delete {
        position: absolute;
        right: 1%;
        top: 22%;
        color: white;
        background-color: red;
        padding: 1px;
        font-size: 0.8em;
      }
      .Edit:hover,
      .Delete:hover {
        cursor: pointer;
      }
      #additem{
        width: 100%;
      }